SESSION_SECRET=8d16bdd1f1e4d1d85d619bca209fdb23a0fe7be6b4dbb3400ebb7ea8f496c72d
PUBLIC_BASE_URL=http://localhost:8123
ADMIN_EMAIL=admin@autofix.com
ADMIN_PASSWORD=AdminPass123!
STORE_SHIPPING_FEE_THB=0
STORE_TAX_POLICY=included
STRIPE_SECRET_KEY=sk_test_51ULjysLUgANcTzJZAxg5RYq6Ccb26iIDdjRyGewvZN4xccd5dW7KGaTSelg9xUxRmvAmVC8ck3evzDaFWymNYpi400DiuwUeNJ
STRIPE_WEBHOOK_SECRET=whsec_71765587d8bf8ed6a3768df734122a7ac73b6a6d72b51c0d50a281043702691e

